@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

@keyframes towerCloud {
  0% {
    left: -25%;
  }
  100% {
    left: 40%;
  }
}

// Two identical keyframes ("scoreHeight1" and "scoreHeight2") are made because the browser cannot detect that the animation has to restart if the keyframe names are the same
@include tablet {
  @keyframes scoreHeight1 {
    0% {
      transform: translateY(23px);
    }
    100% {
      transform: translateY(-77px);
    }
  }
  @keyframes scoreHeight2 {
    0% {
      transform: translateY(23px);
    }
    100% {
      transform: translateY(-77px);
    }
  }
}
@include desktop-1024 {
  @keyframes scoreHeight1 {
    0% {
      transform: translateY(23px);
    }
    100% {
      transform: translateY(-77px);
    }
  }
  @keyframes scoreHeight2 {
    0% {
      transform: translateY(23px);
    }
    100% {
      transform: translateY(-77px);
    }
  }
}
@include desktop-1440 {
  @keyframes scoreHeight1 {
    0% {
      transform: translateY(31px);
    }
    100% {
      transform: translateY(-89px);
    }
  }
  @keyframes scoreHeight2 {
    0% {
      transform: translateY(31px);
    }
    100% {
      transform: translateY(-89px);
    }
  }
}
@include desktop-1920 {
  @keyframes scoreHeight1 {
    0% {
      transform: translateY(43px);
    }
    100% {
      transform: translateY(-117px);
    }
  }
  @keyframes scoreHeight2 {
    0% {
      transform: translateY(43px);
    }
    100% {
      transform: translateY(-117px);
    }
  }
}

@include tablet {
  @keyframes dropBlock2 {
    0% {
      transform: translateY(-930px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock3 {
    0% {
      transform: translateY(-830px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock4 {
    0% {
      transform: translateY(-730px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock5 {
    0% {
      transform: translateY(-630px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes upBlock2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-930px);
    }
  }
  @keyframes upBlock3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-830px);
    }
  }
  @keyframes upBlock4 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-730px);
    }
  }
  @keyframes upBlock5 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-630px);
    }
  }
}
@include desktop-1024 {
  @keyframes dropBlock2 {
    0% {
      transform: translateY(-670px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock3 {
    0% {
      transform: translateY(-570px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock4 {
    0% {
      transform: translateY(-470px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock5 {
    0% {
      transform: translateY(-370px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes upBlock2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-670px);
    }
  }
  @keyframes upBlock3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-570px);
    }
  }
  @keyframes upBlock4 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-470px);
    }
  }
  @keyframes upBlock5 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-370px);
    }
  }
}
@include desktop-1440 {
  @keyframes dropBlock2 {
    0% {
      transform: translateY(-780px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock3 {
    0% {
      transform: translateY(-660px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock4 {
    0% {
      transform: translateY(-540px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock5 {
    0% {
      transform: translateY(-420px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes upBlock2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-780px);
    }
  }
  @keyframes upBlock3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-660px);
    }
  }
  @keyframes upBlock4 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-540px);
    }
  }
  @keyframes upBlock5 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-420px);
    }
  }
}
@include desktop-1920 {
  @keyframes dropBlock2 {
    0% {
      transform: translateY(-920px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock3 {
    0% {
      transform: translateY(-760px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock4 {
    0% {
      transform: translateY(-600px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes dropBlock5 {
    0% {
      transform: translateY(-440px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes upBlock2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-920px);
    }
  }
  @keyframes upBlock3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-760px);
    }
  }
  @keyframes upBlock4 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-600px);
    }
  }
  @keyframes upBlock5 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-440px);
    }
  }
}

.tower {
  width: 40vw;
  height: 100vh;
  background: linear-gradient($color-blue 20%, white);
  &__cloud {
    z-index: 1;
    position: absolute;
    left: -25%;
    opacity: 0.5;
    animation: towerCloud linear infinite;
    @include tablet {
      width: 150px;
    }
    @include desktop-1024 {
      width: 150px;
    }
    @include desktop-1440 {
      width: 200px;
    }
    @include desktop-1920 {
      width: 250px;
    }
  }
  &--cloud-1 {
    top: 5%;
    animation-duration: 30s;
    animation-delay: 0s;
  }
  &--cloud-2 {
    top: 20%;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-direction: reverse;
  }
  &--cloud-3 {
    top: 40%;
    animation-duration: 15s;
    animation-delay: 5s;
    animation-direction: alternate-reverse;
  }
  &--cloud-4 {
    top: 70%;
    transform: scaleX(-1);
    animation-duration: 15s;
    animation-delay: 0.5s;
  }
  &__score {
    z-index: 2;
    position: absolute;
    left: 7vw;
    transform: translateY(+50%);
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    @include tablet {
      width: 180px;
      font-size: 15px;
    }
    @include desktop-1024 {
      width: 180px;
      font-size: 15px;
    }
    @include desktop-1440 {
      width: 240px;
      font-size: 20px;
    }
    @include desktop-1920 {
      width: 330px;
      font-size: 30px;
    }
  }
  &__score--100 {
    bottom: 0px;
    animation-name: scoreHeight1;
  }
  &__score--200 {
    animation-name: scoreHeight2;
    animation-delay: 2s;
    @include tablet {
      bottom: 100px;
    }
    @include desktop-1024 {
      bottom: 100px;
    }
    @include desktop-1440 {
      bottom: 120px;
    }
    @include desktop-1920 {
      bottom: 160px;
    }
  }
  &__score--300 {
    animation-name: scoreHeight1;
    animation-delay: 1.75s;
    @include tablet {
      bottom: 200px;
    }
    @include desktop-1024 {
      bottom: 200px;
    }
    @include desktop-1440 {
      bottom: 240px;
    }
    @include desktop-1920 {
      bottom: 320px;
    }
  }
  &__score--400 {
    animation-name: scoreHeight2;
    animation-delay: 1.5s;
    @include tablet {
      bottom: 300px;
    }
    @include desktop-1024 {
      bottom: 300px;
    }
    @include desktop-1440 {
      bottom: 360px;
    }
    @include desktop-1920 {
      bottom: 480px;
    }
  }
  &__score--500 {
    animation-name: scoreHeight1;
    animation-delay: 1.25s;
    @include tablet {
      bottom: 400px;
    }
    @include desktop-1024 {
      bottom: 400px;
    }
    @include desktop-1440 {
      bottom: 480px;
    }
    @include desktop-1920 {
      bottom: 640px;
    }
  }
  &__score-label {
    display: block;
    font-weight: 500;
    border-bottom: 1px solid black;
    @include tablet {
      padding-bottom: 5px;
    }
    @include desktop-1024 {
      padding-bottom: 5px;
    }
    @include desktop-1440 {
      padding-bottom: 7px;
    }
  }
  &__score-value {
    display: inline-block;
    @include tablet {
      padding-top: 4px;
    }
    @include desktop-1024 {
      padding-top: 4px;
    }
    @include desktop-1440 {
      padding-top: 6px;
    }
  }
  &__block-container {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    transform: translateX(-50%);
    @include tablet {
      left: 25vw;
      width: 100px;
    }
    @include desktop-1024 {
      left: 20vw;
      width: 100px;
    }
    @include desktop-1440 {
      width: 120px;
    }
    @include desktop-1920 {
      width: 160px;
    }
  }
  &__hook {
    position: relative;
    bottom: -13px;
    width: 100%;
    animation-iteration-count: 1;
  }
  &__hook-down {
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  &--hook-2-down {
    animation-name: dropBlock2;
    animation-duration: 2s;
  }
  &--hook-3-down {
    animation-name: dropBlock3;
    animation-duration: 1.75s;
  }
  &--hook-4-down {
    animation-name: dropBlock4;
    animation-duration: 1.5s;
  }
  &--hook-5-down {
    animation-name: dropBlock5;
    animation-duration: 1.25s;
  }
  &__hook-up {
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  &--hook-2-up {
    animation-name: upBlock2;
    animation-duration: 2s;
  }
  &--hook-3-up {
    animation-name: upBlock3;
    animation-duration: 1.75s;
  }
  &--hook-4-up {
    animation-name: upBlock4;
    animation-duration: 1.5s;
  }
  &--hook-5-up {
    animation-name: upBlock5;
    animation-duration: 1.25s;
  }
  &__block {
    width: 100%;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-iteration-count: 1;
  }
  &--block-down {
    position: relative;
  }
  &--block-1 {
    order: 5;
  }
  &--block-2 {
    order: 4;
    animation-name: dropBlock2;
    animation-duration: 2s;
  }
  &--block-3 {
    order: 3;
    animation-name: dropBlock3;
    animation-duration: 1.75s;
  }
  &--block-4 {
    order: 2;
    animation-name: dropBlock4;
    animation-duration: 1.5s;
  }
  &--block-5 {
    order: 1;
    animation-name: dropBlock5;
    animation-duration: 1.25s;
  }
}