@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

@keyframes towercloud {
  0% {
    left: -25%;
  }
  100% {
    left: 40%;
  }
}

@keyframes scoreHeight100 {
  0% {
    transform: translateY(43px);
  }
  100% {
    transform: translateY(-117px);
  }
}
@keyframes scoreHeight200 {
  0% {
    transform: translateY(43px);
  }
  100% {
    transform: translateY(-117px);
  }
}
@keyframes scoreHeight300 {
  0% {
    transform: translateY(43px);
  }
  100% {
    transform: translateY(-117px);
  }
}
@keyframes scoreHeight400 {
  0% {
    transform: translateY(43px);
  }
  100% {
    transform: translateY(-117px);
  }
}
@keyframes scoreHeight500 {
  0% {
    transform: translateY(43px);
  }
  100% {
    transform: translateY(-117px);
  }
}

@keyframes dropBlock2 {
  0% {
    transform: translateY(-840px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropBlock3 {
  0% {
    transform: translateY(-680px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropBlock4 {
  0% {
    transform: translateY(-520px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropBlock5 {
  0% {
    transform: translateY(-360px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upBlock2 {
  0% {
    transform: translateY(-840px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upBlock3 {
  0% {
    transform: translateY(-680px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upBlock4 {
  0% {
    transform: translateY(-520px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upBlock5 {
  0% {
    transform: translateY(-360px);
  }
  100% {
    transform: translateY(0);
  }
}

.tower {
  width: 40vw;
  height: 100vh;
  background: linear-gradient($color-blue 20%, white);
  &__cloud {
    z-index: 1;
    position: absolute;
    left: -25%;
    opacity: 0.5;
    width: 250px;
    animation: towercloud linear infinite;
  }
  &--cloud-1 {
    top: 5%;
    animation-duration: 30s;
    animation-delay: 0s;
  }
  &--cloud-2 {
    top: 20%;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-direction: reverse;
  }
  &--cloud-3 {
    top: 40%;
    animation-duration: 15s;
    animation-delay: 5s;
    animation-direction: alternate-reverse;
  }
  &--cloud-4 {
    top: 70%;
    transform: scaleX(-1);
    animation-duration: 15s;
    animation-delay: 0.5s;
  }
  &__score {
    z-index: 2;
    position: absolute;
    left: 7vw;
    transform: translateY(+50%);
    width: 200px;
    font-size: 30px;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  &__score--100 {
    bottom: 0px;
    animation-name: scoreHeight100;
  }
  &__score--200 {
    bottom: 160px;
    animation-name: scoreHeight200;
    animation-delay: 2s;
  }
  &__score--300 {
    bottom: 320px;
    animation-name: scoreHeight300;
    animation-delay: 1.75s;
  }
  &__score--400 {
    bottom: 480px;
    animation-name: scoreHeight400;
    animation-delay: 1.5s;
  }
  &__score--500 {
    bottom: 640px;
    animation-name: scoreHeight500;
    animation-delay: 1.25s;
  }
  &__score-label {
    display: block;
    font-weight: 500;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
  }
  &__score-value {
    display: inline-block;
    padding-top: 6px;
  }
  &__block-container {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 20vw;
    transform: translateX(-50%);
    width: 160px;
  }
  &__hook {
    position: relative;
    width: 100%;
    animation-iteration-count: 1;
  }
  &--hook-2 {
    animation-name: dropBlock2;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-duration: 2s;
  }
  &--hook-3 {
    animation-name: dropBlock3;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-duration: 1.75s;
  }
  &--hook-4 {
    animation-name: dropBlock4;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-duration: 1.5s;
  }
  &--hook-5 {
    animation-name: dropBlock5;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-duration: 1.25s;
  }
  &--hook-2-up {
    animation-name: upBlock2;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  &--hook-3-up {
    animation-name: upBlock3;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
  }
  &--hook-4-up {
    animation-name: upBlock4;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  &--hook-5-up {
    animation-name: upBlock5;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
  }
  &__block {
    width: 100%;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-iteration-count: 1;
  }
  &--block-1 {
    order: 5;
  }
  &--block-2 {
    order: 4;
    position: relative;
    animation-name: dropBlock2;
    animation-duration: 2s;
  }
  &--block-3 {
    order: 3;
    position: relative;
    animation-name: dropBlock3;
    animation-duration: 1.75s;
  }
  &--block-4 {
    order: 2;
    position: relative;
    animation-name: dropBlock4;
    animation-duration: 1.5s;
  }
  &--block-5 {
    order: 1;
    position: relative;
    animation-name: dropBlock5;
    animation-duration: 1.25s;
  }
}