@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

.learn-more {
  &__modal-close {
    position: absolute;
    cursor: pointer;
    @include tablet {
      top: 25px;
      right: 25px;
      width: 25px;
    }
    @include desktop-1024 {
      top: 20px;
      right: 20px;
      width: 20px;
    }
    @include desktop-1440 {
      top: 30px;
      right: 30px;
      width: 30px;
    }
    @include desktop-1920 {
      width: 40px;
    }
  }
  &__tower-carousel-tab {
    text-align: center;
    padding: 0 10px;
  }
  &__tower-image {
    width: 100%;
    object-fit: cover;
    @include tablet {
      height: 364px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    @include desktop-1024 {
      height: 209px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    @include desktop-1440 {
      height: 302px;
      border-radius: 10px;
    }
    @include desktop-1920 {
      height: 413px;
      margin-bottom: 30px;
    }
  }
  &__tower-name {
    @include tablet {
      font-size: 30px;
      margin-bottom: 7px;
    }
    @include desktop-1024 {
      font-size: 22px;
      margin-bottom: 7px;
    }
    @include desktop-1440 {
      font-size: 30px;
    }
    @include desktop-1920 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  &__tower-location {
    color: grey;
    @include tablet {
      font-size: 22px;
      margin-bottom: 20px;
    }
    @include desktop-1024 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include desktop-1440 {
      font-size: 22px;
    }
    @include desktop-1920 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  &__tower-description {
    @include tablet {
      font-size: 12px;
    }
    @include desktop-1024 {
      font-size: 10px;
    }
    @include desktop-1440 {
      font-size: 13px;
    }
    @include desktop-1920 {
      font-size: 16px;
    }
  }
}

.ReactModal {
  &__Overlay {
    z-index: 5;
    background: rgba(0, 0, 0, 0.8) !important;
  }
  &__Content {
    @include tablet {
      top: 150px !important;
      left: 50px !important;
      right: 50px !important;
      bottom: 150px !important;
      padding: 60px 80px !important;
      border-radius: 5px !important;
    }
    @include desktop-1024 {
      top: 90px !important;
      left: 290px !important;
      right: 290px !important;
      bottom: 90px !important;
      padding: 50px 60px !important;
      border-radius: 5px !important;
    }
    @include desktop-1440 {
      top: 80px !important;
      left: 410px !important;
      right: 410px !important;
      bottom: 80px !important;
      padding: 60px 80px !important;
      border-radius: 10px !important;
    }
    @include desktop-1920 {
      top: 70px !important;
      left: 550px !important;
      right: 550px !important;
      bottom: 70px !important;
      padding: 70px 100px !important;
    }
  }
}

.slick {
  &-prev, &-next {
    @include tablet {
      width: 35px !important;
    }
    @include desktop-1024 {
      width: 25px !important;
    }
    @include desktop-1440 {
      width: 35px !important;
    }
    @include desktop-1920 {
      width: 50px !important;
    }
  }
  &-prev {
    @include tablet {
      left: -50px !important;
    }
    @include desktop-1024 {
      left: -40px !important;
    }
    @include desktop-1440 {
      left: -50px !important;
    }
    @include desktop-1920 {
      left: -65px !important;
    }
    &:before {
      color: grey !important;
      @include tablet {
        font-size: 35px !important;
      }
      @include desktop-1024 {
        font-size: 25px !important;
      }
      @include desktop-1440 {
        font-size: 35px !important;
      }
      @include desktop-1920 {
        font-size: 50px !important;
      }
    }
  }
  &-next {
    @include tablet {
      right: -50px !important;
    }
    @include desktop-1024 {
      right: -40px !important;
    }
    @include desktop-1440 {
      right: -50px !important;
    }
    @include desktop-1920 {
      right: -65px !important;
    }
    &:before {
      color: grey !important;
      @include tablet {
        font-size: 35px !important;
      }
      @include desktop-1024 {
        font-size: 25px !important;
      }
      @include desktop-1440 {
        font-size: 35px !important;
      }
      @include desktop-1920 {
        font-size: 50px !important;
      }
    }
  }
  &-dots {
    @include tablet {
      bottom: -50px !important;
    }
    @include desktop-1024 {
      bottom: -40px !important;
    }
    @include desktop-1920 {
      bottom: -50px !important;
    }
  }
  &-dots li {
    @include tablet {
      margin: 0 !important;
    }
    @include desktop-1024 {
      margin: 0 !important;
    }
    @include desktop-1440 {
      margin: 0 2px !important;
    }
    @include desktop-1920 {
      margin: 0 5px !important;
    }
  }
  &-dots li button:before {
    @include tablet {
      font-size: 10px !important;
    }
    @include desktop-1024 {
      font-size: 8px !important;
    }
    @include desktop-1440 {
      font-size: 11px !important;
    }
    @include desktop-1920 {
      font-size: 13px !important;
    }
  }
}