@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

.learn-more {
  &__modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    @include desktop-1440 {
      width: 30px;
    }
    @include desktop-1920 {
      width: 40px;
    }
  }
  &__tower-carousel-tab {
    text-align: center;
    padding: 0 10px;
  }
  &__tower-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    @include desktop-1440 {
      height: 302px;
      margin-bottom: 20px;
    }
    @include desktop-1920 {
      height: 413px;
      margin-bottom: 30px;
    }
  }
  &__tower-name {
    @include desktop-1440 {
      font-size: 30px;
      margin-bottom: 7px;
    }
    @include desktop-1920 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  &__tower-location {
    color: grey;
    @include desktop-1440 {
      font-size: 22px;
      margin-bottom: 20px;
    }
    @include desktop-1920 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  &__tower-description {
    @include desktop-1440 {
      font-size: 12px;
    }
    @include desktop-1920 {
      font-size: 16px;
    }
  }
}

.ReactModal {
  &__Overlay {
    z-index: 5;
    background: rgba(0, 0, 0, 0.8) !important;
  }
  &__Content {
    border-radius: 10px !important;
    @include desktop-1440 {
      top: 70px !important;
      left: 410px !important;
      right: 410px !important;
      bottom: 70px !important;
      padding: 60px 80px !important;
    }
    @include desktop-1920 {
      top: 80px !important;
      left: 550px !important;
      right: 550px !important;
      bottom: 80px !important;
      padding: 70px 100px !important;
    }
  }
}

.slick {
  &-prev, &-next {
    @include desktop-1440 {
      width: 35px !important;
      height: 35px !important;
    }
    @include desktop-1920 {
      width: 50px !important;
      height: 50px !important;
    }
  }
  &-prev {
    @include desktop-1440 {
      left: -50px !important;
    }
    @include desktop-1920 {
      left: -65px !important;
    }
    &:before {
      color: grey !important;
      @include desktop-1440 {
        font-size: 35px !important;
      }
      @include desktop-1920 {
        font-size: 50px !important;
      }
    }
  }
  &-next {
    @include desktop-1440 {
      right: -50px !important;
    }
    @include desktop-1920 {
      right: -65px !important;
    }
    &:before {
      color: grey !important;
      @include desktop-1440 {
        font-size: 35px !important;
      }
      @include desktop-1920 {
        font-size: 50px !important;
      }
    }
  }
  &-dots {
    bottom: -50px !important;
  }
  &-dots li {
    @include desktop-1440 {
      margin: 0 2px !important;
    }
    @include desktop-1920 {
      margin: 0 5px !important;
    }
  }
  &-dots li button:before {
    @include desktop-1440 {
      font-size: 10px !important;
    }
    @include desktop-1920 {
      font-size: 13px !important;
    }
  }
}