body {
  overflow: hidden;
}

.App {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
}