@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/images/skyline.png"), linear-gradient($color-blue 20%, white);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &__logo {
    z-index: 4;
    width: 450px;
    margin-bottom: 50px;
  }
  &__heading {
    z-index: 4;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__entries {
    align-self: flex-end;
    position: relative;
    right: 810px;
    z-index: 4;
    height: 220px;
    overflow: auto;
    text-align: right;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__entries::-webkit-scrollbar {
    width: 15px;
  }
  &__entries::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    border-radius: 15px;
  }
  &__entries::-webkit-scrollbar-thumb {
    background: $color-green;
    border-radius: 15px;
  }
  &__entry {
    z-index: 4;
    margin: 0 40px 10px;
  }
  &__button {
    z-index: 4;
  }
}