@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

.scores {
  @include skyline;
  &__logo {
    @include logo;
  }
  &__heading {
    @include heading;
  }
  &__entries {
    z-index: 4;
    height: 110px;
    overflow: auto;
    text-align: right;
    font-size: 15px;
    margin-right: 5%;
    margin-bottom: 20px;
    @include tablet-and-up {
      height: 220px;
      font-size: 30px;
      margin-bottom: 40px;
    }
    &::-webkit-scrollbar {
      width: 8px;
      @include tablet-and-up {
        width: 15px;
      }
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.5);
      opacity: 0.5;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-green;
      border-radius: 15px;
    }
  }
  &__entry {
    z-index: 4;
    margin: 0 20px 5px;
    @include tablet-and-up {
      margin: 0 40px 10px;
    }
  }
  &__button {
    z-index: 4;
    width: 100px;
    height: 27px;
    font-size: 12px;
    @include tablet-and-up {
      width: 226px;
      height: 54px;
      font-size: 25px;
    }
  }
}