@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/buttons';

.game {
  display: flex;
  flex-wrap: wrap;
  &__modal-close {
    position: absolute;
    width: 40px;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  &__tower-carousel-tab {
    text-align: center;
    padding: 0 10px;
  }
  &__tower-image {
    width: 100%;
    height: 413px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  &__tower-name {
    font-size: 40px;
    margin-bottom: 10px;
  }
  &__tower-location {
    color: grey;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

// Styling for modal:
.ReactModal {
  &__Overlay {
    z-index: 5;
    background: rgba(0, 0, 0, 0.8) !important;
  }
  &__Content {
    top: 60px !important;
    left: 550px !important;
    right: 550px !important;
    bottom: 60px !important;
    padding: 80px 100px !important;
    border-radius: 10px !important;
  }
}

// Styling for carousel (in the modal):
.slick {
  &-prev, &-next {
    width: 50px !important;
    height: 50px !important;
  }
  &-prev {
    left: -65px !important;
    &:before {
      font-size: 50px !important;
      color: grey !important;
    }
  }
  &-next {
    right: -65px !important;
    &:before {
      font-size: 50px !important;
      color: grey !important;
    }
  }
  &-dots {
    bottom: -50px !important;
  }
  &-dots li button:before {
    font-size: 13px !important;
  }
}