@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/buttons';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/images/skyline.png"), linear-gradient($color-blue 20%, white);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &__logo {
    z-index: 4;
    width: 450px;
    margin-bottom: 50px;
  }
  &__heading {
    z-index: 4;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__subheading {
    z-index: 4;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__button {
    z-index: 4;
  }
}