@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/buttons';

@keyframes elasticDown {
	0% {
		transform: translateY(0%);
	}
	4% {
		transform: translateY(0.08%);
	}
	8% {
		transform: translateY(0.1%);
	}
	18% {
		transform: translateY(-0.52%);
	}
	20% {
		transform: translateY(-0.39%);
	}
	28% {
		transform: translateY(2.35%);
	}
	30% {
		transform: translateY(2.39%);
	}
	38% {
		transform: translateY(-9.27%);
	}
	40% {
		transform: translateY(-11.75%);
	}
	60% {
		transform: translateY(111.75%);
	}
	62% {
		transform: translateY(109.27%);
	}
	70% {
		transform: translateY(97.61%);
	}
	72% {
		transform: translateY(97.65%);
	}
	80% {
		transform: translateY(100.39%);
	}
	82% {
		transform: translateY(100.52%);
	}
	90% {
		transform: translateY(99.97%);
	}
	92% {
		transform: translateY(99.9%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes elasticUp {
	0% {
		transform: translateY(0%);
	}
	4% {
		transform: translateY(-0.08%);
	}
	8% {
		transform: translateY(-0.1%);
	}
	18% {
		transform: translateY(0.52%);
	}
	20% {
		transform: translateY(0.39%);
	}
	28% {
		transform: translateY(-2.35%);
	}
	30% {
		transform: translateY(-2.39%);
	}
	38% {
		transform: translateY(9.27%);
	}
	40% {
		transform: translateY(11.75%);
	}
	60% {
		transform: translateY(-111.75%);
	}
	62% {
		transform: translateY(-109.27%);
	}
	70% {
		transform: translateY(-97.61%);
	}
	72% {
		transform: translateY(-97.65%);
	}
	80% {
		transform: translateY(-100.39%);
	}
	82% {
		transform: translateY(-100.52%);
	}
	90% {
		transform: translateY(-99.97%);
	}
	92% {
		transform: translateY(-99.9%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.trivia {
  z-index: 3;
  width: 60vw;
  height: 100vh;
  background: url("../../assets/images/crane.svg"), linear-gradient($color-yellow 20%, white);
  background-size: cover;
  background-position: right;
  &--fade {
    opacity: 0;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  &--fade-in {
    animation-name: fadeIn;
  }
  &--fade-in-down {
    animation-name: fadeInDown;
  }
  &__question {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(0%);
    will-change: transform;
    animation-name: elasticDown;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 0s;
    @include tablet-768 {
      top: -850px;
      left: 30px;
      width: 400px;
      height: 694px;
    }
    @include desktop-1024 {
      top: -630px;
      left: 30px;
      width: 400px;
      height: 494px;
    }
    @include tablet-1024 {
      top: -1060px;
      left: 35px;
      width: 550px;
      height: 900px;
    }
    @include tablet-1366 {
      top: -810px;
      left: 35px;
      width: 520px;
      height: 643px;
    }
    @include desktop-1440 {
      top: -930px;
      left: 35px;
      width: 550px;
      height: 680px;
    }
    @include desktop-1920 {
      top: -1290px;
      left: 50px;
      width: 750px;
      height: 927px;
    }
  }
  &__question-text {
    position: absolute;
    font-weight: 500;
    color: grey;
    text-align: left;
    @include tablet-768 {
      top: 700px;
      left: 0px;
      width: 200px;
      font-size: 16px;
    }
    @include desktop-1024 {
      top: 500px;
      left: unset;
      right: 0px;
      width: unset;
      font-size: 16px;
    }
    @include tablet-1024 {
      top: 905px;
      left: 0px;
      width: 270px;
      font-size: 22px;
    }
    @include tablet-1366 {
      top: 650px;
      font-size: 22px;
    }
    @include desktop-1440 {
      top: 685px;
      font-size: 22px;
    }
    @include desktop-1920 {
      top: 935px;
      font-size: 30px;
    }
  }
  &__question-board {
    width: 101%;
    object-fit: cover;
    object-position: bottom;
  }
  &__tower {
    position: absolute;
    @include tablet-768 {
      top: 452px;
      width: 400px;
      height: 230px;
    }
    @include desktop-1024 {
      top: 252px;
      width: 400px;
      height: 230px;
    }
    @include tablet-1024 {
      top: 567px;
      width: 550px;
      height: 317px;
    }
    @include tablet-1366 {
      top: 328px;
      width: 520px;
      height: 299px;
    }
    @include desktop-1440 {
      top: 346px;
      width: 550px;
      height: 317px;
    }
    @include desktop-1920 {
      top: 472px;
      width: 750px;
      height: 432px;
    }
  }
  &__tower-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__tower-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    animation-duration: 2s;
  }
  &__result {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    @include tablet-768 {
      top: 470px;
    }
    @include desktop-1024 {
      top: 270px;
    }
    @include tablet-1024 {
      top: 590px;
    }
    @include tablet-1366 {
      top: 345px;
    }
    @include desktop-1440 {
      top: 370px;
    }
    @include desktop-1920 {
      top: 500px;
    }
  }
  &__result-heading {
    font-weight: 500;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    @include tablet-768 {
      font-size: 50px;
      margin-bottom: 20px;
    }
    @include desktop-1024 {
      font-size: 50px;
      margin-bottom: 20px;
    }
    @include tablet-1024 {
      font-size: 70px;
      margin-bottom: 30px;
    }
    @include tablet-1366{
      font-size: 70px;
      margin-bottom: 30px;
    }
    @include desktop-1440 {
      font-size: 70px;
      margin-bottom: 30px;
    }
    @include desktop-1920 {
      font-size: 100px;
      margin-bottom: 40px;
    }
  }
  &__result-name {
    animation-duration: 0.5s;
    animation-delay: 1s;
    @include tablet-768 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    @include desktop-1024 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    @include tablet-1024 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    @include tablet-1366 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    @include desktop-1440 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    @include desktop-1920 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
  &__result-location {
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    @include tablet-768 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include desktop-1024 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include tablet-1024 {
      font-size: 22px;
      margin-bottom: 30px;
    }
    @include tablet-1366 {
      font-size: 22px;
      margin-bottom: 30px;
    }
    @include desktop-1440 {
      font-size: 22px;
      margin-bottom: 30px;
    }
    @include desktop-1920 {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
  &__button {
    animation-duration: 0.5s;
    animation-delay: 2s;
    @include tablet-768 {
      width: 150px;
      height: 35px;
      font-size: 14px;
    }
    @include desktop-1024 {
      width: 150px;
      height: 35px;
      font-size: 14px;
    }
    @include tablet-1024 {
      width: 200px;
      height: 40px;
      font-size: 17px;
    }
    @include tablet-1366 {
      width: 200px;
      height: 40px;
      font-size: 17px;
    }
    @include desktop-1440 {
      width: 200px;
      height: 40px;
      font-size: 17px;
    }
    @include desktop-1920 {
      width: 300px;
      height: 60px;
      font-size: 25px;
    }
  }
  &__answers {
    position: absolute;
    left: 40vw;
    height: 600px;
    @include tablet-768 {
      bottom: -780px;
    }
    @include desktop-1024 {
      bottom: -810px;
    }
    @include tablet-1024 {
      bottom: -800px;
    }
    @include tablet-1366 {
      bottom: -870px;
    }
    @include desktop-1440 {
      bottom: -890px;
    }
    @include desktop-1920 {
      bottom: -1090px;
    }
  }
  &__answer {
    &:hover {
      filter: brightness(150%);
      cursor: pointer;
    }
  }
  &--answer {
    position: absolute;
    transform: translateY(0%);
    will-change: transform;
    animation-name: elasticUp;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }
  &--answer-1 {
    animation-delay: 0.5s;
    @include tablet-768 {
      top: 30px;
      left: -20px;
    }
    @include desktop-1024 {
      top: 30px;
      left: 30px;
    }
    @include tablet-1024 {
      top: 50px;
      left: -20px;
    }
    @include tablet-1366 {
      top: 50px;
      left: 35px;
    }
    @include desktop-1440 {
      top: 50px;
      left: 35px;
    }
    @include desktop-1920 {
      left: 50px;
    }
  }
  &--answer-2 {
    transform: scale(0.9);
    animation-delay: 1s;
    @include tablet-768 {
      top: 150px;
      left: 135px;
    }
    @include desktop-1024 {
      top: 130px;
      left: 205px;
    }
    @include tablet-1024 {
      top: 200px;
      left: 185px;
    }
    @include tablet-1366 {
      top: 190px;
      left: 260px;
    }
    @include desktop-1440 {
      top: 190px;
      left: 280px;
    }
    @include desktop-1920 {
      top: 200px;
      left: 370px;
    }
  }
  &--answer-3 {
    top: -10px;
    animation-delay: 1.5s;
    @include tablet-768 {
      left: 300px;
    }
    @include desktop-1024 {
      left: 380px;
    }
    @include tablet-1024 {
      left: 400px;
    }
    @include tablet-1366{
      left: 490px;
    }
    @include desktop-1440 {
      left: 520px;
    }
    @include desktop-1920 {
      left: 700px;
    }
  }
  &__answer-image {
    @include tablet-768 {
      width: 160px;
    }
    @include desktop-1024 {
      width: 160px;
    }
    @include tablet-1024 {
      width: 210px;
    }
    @include tablet-1366 {
      width: 220px;
    }
    @include desktop-1440 {
      width: 220px;
    }
    @include desktop-1920 {
      width: 300px;
    }
  }
  &__answer-text {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    @include tablet-768 {
      top: 80px;
      left: 80px;
      width: 90px;
      height: 55px;
      font-size: 15px;
    }
    @include desktop-1024 {
      top: 80px;
      left: 80px;
      width: 90px;
      height: 55px;
      font-size: 15px;
    }
    @include tablet-1024 {
      top: 105px;
      left: 105px;
      width: 120px;
      height: 75px;
      font-size: 20px;
    }
    @include tablet-1366 {
      top: 110px;
      left: 110px;
      width: 130px;
      height: 80px;
      font-size: 20px;
    }
    @include desktop-1440 {
      top: 110px;
      left: 110px;
      width: 130px;
      height: 80px;
      font-size: 20px;
    }
    @include desktop-1920 {
      top: 150px;
      left: 150px;
      width: 180px;
      height: 110px;
      font-size: 30px;
    }
  }
  &--answer-text-1 {
    align-items: center;
  }
  &--answer-text-2 {
    align-items: center;
  }
  &--answer-text-3 {
    align-self: flex-start;
    @include tablet-768 {
      margin-top: 25px;
    }
    @include desktop-1024 {
      margin-top: 25px;
    }
    @include tablet-1024 {
      margin-top: 30px;
    }
    @include tablet-1366 {
      margin-top: 35px;
    }
    @include desktop-1440 {
      margin-top: 35px;
    }
    @include desktop-1920 {
      margin-top: 45px;
    }
  }
}