.aws-btn {
  --button-default-height: 60px;
  --button-default-font-size: 25px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 50px;
  --button-raise-level: 6px;
  --button-hover-pressure: 2.5;
  --transform-speed: 0.2s;
  --button-primary-color: #7DC649;
  --button-primary-color-dark: #538432;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #5dc12e;
  --button-primary-color-active: #000000;
  --button-primary-border: 1px solid #ffffff;
  --button-secondary-color: #f5df64;
  --button-secondary-color-dark: #b7a64c;
  --button-secondary-color-light: #000000;
  --button-secondary-color-hover: #ffec38;
  --button-secondary-color-active: #74CCD9;
  --button-secondary-border: 1px solid #000000;
}