$color-green: rgba(125, 198, 73, 1); // #7DC649
$color-red: rgba(222, 55, 87, 1); // #DE3757
$color-orange: rgba(243, 119, 66, 1); // #F37742
$color-yellow: rgba(245, 223, 100, 1); // #F5DF64
$color-blue: rgba(116, 204, 217, 1); // #74CCD9